<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <Configuration Condition=" '$(Configuration)' == '' ">Debug</Configuration>
    <Platform Condition=" '$(Platform)' == '' ">AnyCPU</Platform>
    <ProductVersion>9.0.30729</ProductVersion>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectGuid>{2CC208C0-9494-4558-AB01-41642D1431C2}</ProjectGuid>
    <OutputType>Library</OutputType>
    <AppDesignerFolder>Properties</AppDesignerFolder>
    <RootNamespace>$clazz.Namespace</RootNamespace>
    <AssemblyName>$clazz.AssemblyName</AssemblyName>
    <SignAssembly>true</SignAssembly>
    #set ( $snext = ".snk" )
    <AssemblyOriginatorKeyFile>$clazz.OrganizationName()ClientDataModel$snext</AssemblyOriginatorKeyFile>
    <FileUpgradeFlags>
    </FileUpgradeFlags>
    <OldToolsVersion>3.5</OldToolsVersion>
    <UpgradeBackupLocation>
    </UpgradeBackupLocation>
    <TargetFrameworkVersion>v4.6.1</TargetFrameworkVersion>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <DebugSymbols>true</DebugSymbols>
    <DebugType>full</DebugType>
    <Optimize>false</Optimize>
    <OutputPath>bin\Debug\</OutputPath>
    <DefineConstants>DEBUG;TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' ">
    <DebugType>pdbonly</DebugType>
    <Optimize>true</Optimize>
    <OutputPath>bin\Release\</OutputPath>
    <DefineConstants>TRACE</DefineConstants>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
  </PropertyGroup>
  <ItemGroup>
    <Reference Include="$clazz.FrameworkAssemblyName"/>          
    <Reference Include="System" />
    <Reference Include="System.Data" />
    <Reference Include="System.Xml" />
  </ItemGroup>
  <ItemGroup>
    #set ( $classext = ".cs" )
    #foreach($attributeSet in $clazz.AttributeSets)    
    <Compile Include="$clazz.GetAttributeSetName($attributeSet)$classext" />
    <Compile Include="$clazz.GetAttributeSetName($attributeSet)_AL$classext" />
	#end
	#foreach($attributeSet in $clazz.EncryptedAttributeSets)
	  <Compile Include="Mappers\\${clazz.GetAttributeSetName($attributeSet)}Mapper$classext" />
	#end
  </ItemGroup>
	<Import Project="$(MSBuildBinPath)\Microsoft.CSharp.targets" />
</Project>