<?xml version="1.0"?>
<configuration>
  <configSections>    
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <section name="lw.msg" type="Brierley.FrameWork.Messaging.Config.MSBConfigurationSection, Brierley.FrameWork, Version=5.0.0.0, Culture=neutral, PublicKeyToken=f2e291d4566ee7dc"/>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="appFabricCaching" type="Brierley.FrameWork.Data.Cache.AppFabric.Config.AppFabricCachingSection, Brierley.FrameWork, Version=5.0.0.0, Culture=neutral, PublicKeyToken=f2e291d4566ee7dc"/>
  </configSections>
<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	 <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="2.1.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
  <!--<lw.msg>
    <Messages>
      <add
        Name="DAPMessage"
        MessageTypeName = "Brierley.FrameWork.Messaging.LWMessages.DAPMessage"
        MessageAssemblyName = "Brierley.FrameWork" />
    </Messages>
    <EndPoints>
      <add
        Name="CertsProcessing"
        Uri="msmq://||YourComputerNameHere||/CertsProcessing"
        Public="true"
        Transactional="true"
        Direction ="Outgoing"
        MessageName="DAPMessage"/>
    </EndPoints>
  </lw.msg>-->
  <dataCacheClient>
    <hosts>
      <host name="pcty7604.brierley.com" cachePort="22233"/>
    </hosts>
  </dataCacheClient>
  <appFabricCaching>
    <regions>
      <add name="ClientConfigurationByKey" enabled="true" timeToLive="60"/>
      <!-- minutes -->
      <add name="AttributeSetMetaDataById" enabled="true" timeToLive="60"/>
      <add name="AttributeSetMetaDataByName" enabled="true" timeToLive="60"/>
      <add name="RuleTriggerByName" enabled="true" timeToLive="60"/>
      <add name="RuleTriggerByAttSet" enabled="true" timeToLive="60"/>
      <add name="RuleTriggerByObjectName" enabled="true" timeToLive="60"/>
      <add name="PointTypeByName" enabled="true" timeToLive="60"/>
      <add name="PointEventByName" enabled="true" timeToLive="60"/>
      <add name="TierDefByName" enabled="true" timeToLive="60"/>
      <add name="RewardDefByName" enabled="true" timeToLive="60"/>      
      <add name="ContentAttributeDefByName" enabled="true" timeToLive="60"/>
      <add name="ValidatorTriggerByAttribute" enabled="true" timeToLive="60"/>
      <add name="CustomBScriptFunctionByName" enabled="true" timeToLive="60"/>
      <add name="CustomBScriptFunctionList" enabled="true" timeToLive="60"/>
      <add name="LanguageDefList" enabled="true" timeToLive="60"/>
      <add name="ChannelDefList" enabled="true" timeToLive="60"/>
      <add name="ContactStatusList" enabled="true" timeToLive="60"/>
    </regions>
  </appFabricCaching>
  <appSettings>
    <add key="LW_CacheExpirationInterval" value="3600"/> <!-- Cache expiration interval in seconds -->
    <add key="LWDAPPerformanceCounters" value="true"/>
    <add key="BulkLoadingBatchSize" value="100"/>
    <add key="LWAssemblyPath" value="C:\devroot\aeo-loyalty\code\Integration\DAP"/>
    <add key="LWConfig" value="C:\devroot\aeo-loyalty\code\LWConfig"/>
    <add key="AuditLoggingEnabled" value="true"/>
	<add key="LWOrganization" value="AmericanEagle"/>
	<add key="LWEnvironment" value="DevelopmentBLine"/>
    <!-- These are keys for integration with Mutual Mind's partner management site.  They are not expected to change.  -->
    <add key="MutualMindPartnerKey" value="ya8yw6hcej3gl9je424mf007ohzzb37m"/>
    <add key="MutualMindAuthToken" value="12c8fc6510b139f1f0f39e9b91dba21caed46baa"/>
	 <add key="FilePath" value="E:\AmericanEagle\Files\Outbound"/>
  </appSettings>  
  <cachingConfiguration defaultCacheManager="MemberByLoyaltyId">
    <cacheManagers>
      <add name="RemoteAssemblies" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="bScriptByExpression" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="AttributeSetMetaDataById" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="AttributeSetMetaDataByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="RuleTriggerByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="RuleTriggerByAttSet" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="RuleTriggerByPromotion" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="RuleTriggerByObjectName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="PromotionByCode" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="PointTypeByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="PointEventByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="TierDefList" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="TierDefByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="RewardDefByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="CouponDefByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="BonusDefByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="ContentAttributeDefByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="ValidatorTriggerByAttribute" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="BScriptExpressionsByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="CustomComponentByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="CustomComponentList" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="ProductsList" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="ProductById" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="LanguageDefList" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="ChannelDefList" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="ClientConfigurationByKey" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
      <add name="MemberByLoyaltyId" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="MemberByIpCode" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
	  <add name="AEOCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
	  <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="PointEventList"/>
      <add expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="PointTypeList"/>
    </cacheManagers>
  <springLogging>
    <add key="loggingLevel" value="NONE"/>
  </springLogging>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore"/>
    </backingStores>
  </cachingConfiguration>  
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json"
				publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
			<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
		  </dependentAssembly>
		</assemblyBinding>
	</runtime>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XigniteGlobalCurrenciesSoap" />
                <binding name="XigniteGlobalCurrenciesSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="XigniteGlobalCurrenciesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="XigniteGlobalCurrenciesSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://globalcurrencies.xignite.com/xGlobalCurrencies.asmx"
                binding="basicHttpBinding" bindingConfiguration="XigniteGlobalCurrenciesSoap"
                contract="RemoteGlobalCurrencies.XigniteGlobalCurrenciesSoap"
                name="XigniteGlobalCurrenciesSoap" />
            <endpoint address="http://globalcurrencies.xignite.com/xGlobalCurrencies.asmx"
                binding="customBinding" bindingConfiguration="XigniteGlobalCurrenciesSoap12"
                contract="RemoteGlobalCurrencies.XigniteGlobalCurrenciesSoap"
                name="XigniteGlobalCurrenciesSoap12" />
            <endpoint address="http://globalcurrencies.xignite.com/xGlobalCurrencies.asmx"
                binding="basicHttpBinding" bindingConfiguration="XigniteGlobalCurrenciesSoap1"
                contract="RemoteGlobalCurrencies.XigniteGlobalCurrenciesSoap"
                name="XigniteGlobalCurrenciesSoap1" />
            <endpoint address="http://globalcurrencies.xignite.com/xGlobalCurrencies.asmx"
                binding="customBinding" bindingConfiguration="XigniteGlobalCurrenciesSoap121"
                contract="RemoteGlobalCurrencies.XigniteGlobalCurrenciesSoap"
                name="XigniteGlobalCurrenciesSoap121" />
        </client> 
    </system.serviceModel></configuration>
