<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="springLogging" type="System.Configuration.NameValueSectionHandler" />
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\LoyaltyWare4.1\DevRoot\Logs\LWIntegrationSvc.log" header="" footer="" formatter="OneLineMessage" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" LWLoggingServiceUri="net.tcp://localhost:9008/LWLoggingService" LWLoggingSource="DAP Processor" LWLoggingTraceFile="C:\LoyaltyWare4.1\DevRoot\Logs\LWIntegrationSvc_TraceListener.log" type="Brierley.LoyaltyWare.Logging.TraceListeners.LWLoggingServiceTraceListener, Brierley.LoyaltyWare.Logging.TraceListeners, Version=4.1.0.0, Culture=neutral, PublicKeyToken=e21c470cba08306f" filter="Off" name="LWLoggingServiceTraceListener" formatter="OneLineMessage" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local)} [{threadName}({win32ThreadId})][{severity}] [{category}] {message}" name="OneLineMessage" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="InboundDAPAdapter">
        <listeners>
          <add name="Flat File Trace Listener" />
          <add name="LWLoggingServiceTraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="LoyaltyWareFramework">
        <listeners>
          <add name="Flat File Trace Listener" />
          <add name="LWLoggingServiceTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="LWHibernateProfiler" value="true" />
    <add key="LWCacheExpirationInterval" value="1260" />
    <add key="LWSAPIPerformanceCounters" value="true" />
    <add key="LWAssemblyPath" value="C:\LoyaltyWare4.1\DevRoot\CommonLibs;C:\LoyaltyWare4.1\DevRoot\ClientLibs;C:\MyStuff\CurrentWork\TestProjects\SampleStageDBMessageProducer\bin\Debug" />
    <add key="LWLogLevel" value="All" />
    <add key="LWLogDefaultCategory" value="LoyaltyWareTest" />
    <add key="LWLogTracingEnabled" value="true" />
    <add key="LWLogWarningsWhenNoCategoriesMatch" value="false" />
    <add key="LWLogTemplate" value="{timestamp} UCT [{severity}] [{category}] {message}" />
    <add key="LWLogRollSizeKB" value="0" />
    <add key="LWConfig" value="C:\LoyaltyWare4.1\DevRoot\Config" />
    <add key="LWOrganization" value="LWUnitTest" />
    <add key="LWEnvironment" value="Development" />
    <add key="LWIntgrConfig" value="C:\ProductDevelopment\LoyaltyWare\Main\LoyaltyNavigator\Templates\DAPStandardAPIConfig.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <databaseSettings>
    <!-- MMS Fulfillment -->
    <add key="db.mms.provider" value="OracleODP-2.0"/>
    <add key="db.mms.connectionString" value="User ID=pd_nunit_lw41;Password=loynav1;Data Source=bpdev01;"/>
    <add key="db.mms.dialect" value="NHibernate.Dialect.Oracle10gDialect"/>
    <add key="db.mms.driver_class" value="NHibernate.Driver.OracleDataClientDriver"/>
  </databaseSettings>
  <cachingConfiguration defaultCacheManager="MemberByLoyaltyId">
    <cacheManagers>
      <add name="MemberByLoyaltyId" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="AttributeSetMetaDataById" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="AttributeSetMetaDataByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="RuleTriggerByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="RuleTriggerByAttSet" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="RuleTriggerByObjectName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="PointTypeByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="PointEventByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="TierDefByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="RewardDefByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="RewardAttributeDefByName" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
      <add name="ValidatorTriggerByAttribute" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <springLogging>
    <add key="loggingLevel" value="All" />
  </springLogging>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetPipeBinding" />
      </netNamedPipeBinding>
      <mexTcpBinding>
        <binding name="TcpMexBinding" />
      </mexTcpBinding>
      <netTcpBinding>
        <binding name="TcpBinding" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Brierley.LoyaltyWare.LWIntegrationSvc.LWIntegrationService" behaviorConfiguration="LWIntgrServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9009" />
            <add baseAddress="net.tcp://localhost:9010/" />
            <add baseAddress="net.pipe://localhost/Brierley.LWIntegrationService" />
          </baseAddresses>
        </host>
        <endpoint address="LWIntgrService" binding="netNamedPipeBinding" contract="Brierley.LoyaltyWare.LWIntegrationSvc.ILWIntegrationService">
        </endpoint>
        <endpoint address="LWIntgrService" binding="netTcpBinding" contract="Brierley.LoyaltyWare.LWIntegrationSvc.ILWIntegrationService">
        </endpoint>
        <endpoint address="LWIntgrService" binding="basicHttpBinding" contract="Brierley.LoyaltyWare.LWIntegrationSvc.ILWIntegrationService">
        </endpoint>
        <endpoint address="MEX" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="MEX" binding="mexTcpBinding" contract="IMetadataExchange" />
        <endpoint address="MEX" binding="mexNamedPipeBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LWIntgrServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
