<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>  
    <add key="LWAssemblyPath" value="E:\wwwroot\lt-apiaerewards\bin" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LWEnvironment" value="LoadTestCline" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LWIntgrConfig" value="E:\wwwroot\lt-apiaerewards\Configuration\CustomerDataServiceConfig.xml" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>