@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham-book-webfont.eot');
    src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham-book-webfont.woff') format('woff'),
         url('../fonts/gotham-book-webfont.ttf') format('truetype'),
         url('../fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_mediumregular';
    src: url('../fonts/gotham-medium-webfont.eot');
    src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
         url('../fonts/gotham-medium-webfont.woff') format('woff'),
         url('../fonts/gotham-medium-webfont.ttf') format('truetype'),
         url('../fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bold {
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
}

/* Responsive tablet */
@media only screen and (min-width: 20px) and (max-width: 768px) {
	
/* GLOBAL STYLES */

html {
    overflow-y: scroll;
}
body {
	margin:0;
    padding:0;
    overflow-x:hidden;
}
input, 
select, 
textarea,
input[type=radio],
input[type=text] {
    -webkit-appearance: none;
	border-radius:none;
    }
.message_body_top {
	width:90%;
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
	color:#FF0004;
	font-size:12px;
	margin-left:auto;
	margin-right:auto;
	padding:90px 0 10px 0
	
}

.message_body {
	width:90%;
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
	color:#FF0004;
	font-size:12px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	border:1px solid #cccccc;
}
.container1 {
	width:100%;
	height:auto;
	padding:0;
	position:relative;
}
.columndrop {
	display:block;
	width:100%;
}
.to100pc {
	width:100%;
}
.hide {
	display:none;
}
.hide_nav {
	display:block;
}
#content {
    background-color: #FFFFFF;
    padding: 30px 10px 10px 10px;
    position: relative;
    width: auto;
    height: 100%;
}

.to100pc {
	width:100%
}

/* HEADER STYLES */

.header {
	margin-left:auto;
	margin-right:auto;
	z-index:1;
	text-align:center;
}
.header_block {
	width:100%;
	position:fixed;
	background-color:#ffffff;
	padding:10px 0 0 0;
	vertical-align:middle;
	text-align:center;
	border-bottom: 1px solid #000000;
	z-index:2;
}
.header_block_1 {
	width:100%;
	padding:0 0 10px 0;
}
.header_block_pht {
	width:100%;
	background-color:#ffffff;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#000000;
	padding:0 0 20px 0;
	text-align:center;
}
.header_block_2 {
	display:none;
}
.header_block_acct {
	display:none;
}	
.header_block_acct_info {
	float:none;
	width:100%;
	background-color:#ffffff;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000000;
}
.header_block_logo {
	width:60px;
	text-align:center;
	padding:15px 30px 0 0;
	display:inline;
}
.header_block_icons {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000000;
	width:60px;
	float:right;
}
.header_block_nav {
	display:none;
}
.header_block_nav_link {
	display:none;
}
.aeo_bug {
	display:inline;
}
.aeo_logo {
	display:none;
}
.aeo_body {
	width:100%;
	margin-left:0;
	margin-right:0;
	padding:40px 0 0 0;
}

/* NAVIGATION STYLES */

.nav_column_1 {
	display:none;
}

/* hamburger button */

#hamburger {
    cursor: pointer;
    display: inline;
    height: 24px;
    position: relative;
    width: 25px;
	float:left;
	padding:10px 0 15px 15px;
	z-index:3;
}
#hamburger div {
    background-color: #000000;
    border-radius: 2px 2px 2px 2px;
    height: 3px;
    margin-top: 5px;
    width: 90%;
}
nav {
    opacity: 0;
    left: 0px;
    top: 0px;
	z-index:0;
    position: fixed;
    width: 70%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ffffff;
	
}
nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
	text-align:left;
}
nav li {
    position: relative;
    border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
    padding: 18px 12px 14px 0;
	text-align:left;
}
.menu_a a {
    border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

.menu_a {
	width:100%;
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
    color: #000000;
    text-decoration: none;
	font-size:18px;
	text-align:left;
    padding: 18px 200px 12px 24px;
}
.menu_b {
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
    color: #000000;
	font-size:14px;
	text-align:left;
	padding:18px 0 18px 36px;
}

.menu_x {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
    color: #ffffff !important;
	background-color:#000000;
    text-decoration: none;
	font-size:14px;
	text-align:left;
	padding-left:36px;
}
.menu_c a {
    border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}
.menu_c {
	width:100%;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
    color: #000000;
	text-decoration: none;
	font-size:14px;
	text-align:left;
	padding: 18px 200px 16px 36px;
}
#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 5;
}

/* MAIN CONTENT STYLES */

.column_2 {
	width:100%;
	padding:30px 0 0 0;
}
.column_2_container {
	padding:0 0 0 0;
	box-sizing:border-box;
	text-align:left;
}
.column_2_box {
	padding:7px 10px 5px 10px;
	border: 1px solid #cccccc;
}
.column_2_head {
	font-family:'gotham_mediumregular', Helvetica Bold, Arial Bold, sans-serif;
	font-size:20px;
	color:#000000;
	text-align:left;
	padding:15px 0 7px 0;
}
.column_2_head_sub {
	font-family:'gotham_bookregular', Helvetica Bold, Arial Bold, sans-serif;
	font-size:13px;
	color:#000000;
	text-align:left;
	padding:0 0 20px 0;
}
.column_2_head_sub2 {
	font-family:'gotham_bookregular', Helvetica Bold, Arial Bold, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#000000;
	text-align:right;
	height:20px;
	padding:0 0 20px 0;
}
.column_2_intro {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#000000;
	text-align:left;
	padding:0 10px 0 10px;
}
.column_2_details {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:left;
	padding:5px 10px 20px 10px;
}

/* FOOTER */

.aeo_footer {
	width:100%;
	padding:40px 0 0 0;
}
.aeo_footer_content1 {
	display:none;
}
.aeo_footer_content2 {
	display:none;
}
.aeo_footer_content3 {
	border-top:1px solid #cccccc;
	padding:15px 0 0 0;
}
.aeo_footer_content4 {
	display:none;
}
.aeo_footer_3 {
	width:100%;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#000000;
	vertical-align:top;
	text-align:center;
	padding:0;
}

/* Page-Specific Forms */

/* REWARDS ACTIVITY */

.rewards_table {
	border:1px solid #cccccc;
	padding:5px 10px 5px 10px;
}
.rewards_table_1 {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	vertical-align:top;
	text-align:left;
	padding:3px 0 5px 0;
}
.rewards_table_2 {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	vertical-align:top;
	text-align:right;
	padding-top:3px;
}
.rewards_table_3 {
	width:100%;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	text-align:left;
	background-color:#777777;
	color:#ffffff !important;
	text-decoration:none !important;
	padding:3px 7px 3px 7px;
}

.column_2_description {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	width:70px;
	text-align:left;
	float:left;
	padding:20px 0 10px 10px;
}
.column_2_expiration {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	width:80px;
	text-align:right;
	float:right;
	padding:20px 10px 10px 0;
}
.column_2_code {
	display:none;
}

/* EARNING ACTIVITY */

.earning_callout {
	border:1px solid #cccccc;
	padding:20px 10px 20px 10px;
	text-align:center;
}
.earning_callout_head {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	vertical-align:top;
	padding:0 0 15px 0;
}
.earning_callout_button {
	width:90%;
	border:2px solid #000000;
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	vertical-align:middle;
	padding:15px 5px 15px 5px;
	margin-top:10px;
}


.column_2_box_label {
	float:left;
	width:60%;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
}
.column_2_box_labela {
	float:left;
	width:70px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
}
.column_2_box_labelb {
	float:left;
	width:80px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
}
.column_2_box_labelc {
	float:left;
	width:150px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
	padding:0 0 0 70px;
}
#column_2_earning_data_01 {
	float:right;
	width:50px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:right;
	vertical-align:middle;
}
#column_2_box_tier,
#column_2_box_account,
#column_2_box_number,
#column_2_box_rewards_data_001,
#column_2_box_rewards_data_002,
#column_2_box_rewards_data_003,
#column_2_box_rewards_data_004,
#column_2_box_rewards_data_005,
#column_2_box_rewards_data_006,
#column_2_box_rewards_data_007,
#column_2_box_rewards_data_008,
#column_2_box_rewards_data_009 {
	float:right;
	width:40%;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:right;
	vertical-align:middle;
}
.column_2_head_1 {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:left;
	padding:40px 10px 20px 10px;
}
.column_2_date {
	width:80px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:left;
	float:left;
	padding:0 0 7px 10px;
}
.column_2_activity {
	width:80px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:left;
	float:left;
	padding:0 0 7px 0;
}
.column_2_order {
	display:none;
}
.column_2_points {
	width:70px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	text-align:right;
	float:right;
	padding:0 10px 7px 0;
}
.earning_table {
	border:1px solid #cccccc;
	padding:10px 10px 7px 10px;
}
.earning_table_1, .earning_table_2, .earning_table_3, .earning_table_4 {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	color:#000000;
	vertical-align:top;
}
.earning_table_1 {
	width:80px;
	text-align:left;
}
.earning_table_2 {
	width:210px;
	text-align:left;
	display:block;
}
.earning_table_2a {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:11px;
	line-height:14px;
	text-align:left;
	vertical-align:top;
}
.earning_table_3 {
	font-size:11px;
	text-align:left;
	width:80px;
	display:block;
	padding:3px 0 0 0;
}
.earning_table_4 {
	width:50px;
	text-align:right;
}

/* PROFILE */

.profile_table {
	padding:20px 10px 10px 10px;
	border:none;
}

.column_2_about_me {
	width:100px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	padding:20px 0 20px 0;
}
.column_2_address {
	width:100px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	padding:40px 0 20px 0;
}
.column_2_contact {
	width:100px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	padding:40px 0 20px 0;
}
.profile_info, .profile_info_email {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	padding:0 0 20px 0;
	width:50%;
}
.profile_info_2, .profile_info_email_2 {
	padding:0 0 0 0;
	border:1px solid #333333;
}
.button_cancel {
	width:100%;
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:16px;
	text-align:center;
	vertical_align:middle;
	display:block;
	
}

.button_update {
	width:100%;
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
	color:#ffffff;
	background-color:#000000;
	font-size:16px;
	text-align:center;
	display:block;
	vertical_align:middle;	
	margin:15px 0 0 0;
}

.profile_info_form {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:16px;
	line-height:16px;
	text-align:left;
	display:block;
	vertical-align:middle;
	padding:0;
	width:100%;
	margin-bottom:15px;
}
.profile_info_spacer {
	display:none;
}

.profile_info_address {
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	padding:20px 0 10px 0;
	width:100%;
}
.profile_edit {
	width:100%;
	text-align:right;
	vertical-align:top;
	padding:0 0 0 0;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
}
.form_input_inactive {
	width:90%;
	padding:10px 7px 7px 7px;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#888888;
	border:0;
}
.form_input_inactive:focus {
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#000000;
}
.profile_edit {
	width:100%;
	text-align:right;
	vertical-align:top;
	padding:0 0 0 0;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
}
.profile_info_form_1, .profile_info_form_2 {
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	padding:0 0 10px 0;
	width:100%;
}

.profile_info_radio  {
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:center;
	vertical-align:middle;
	width:50%;
	border:1px solid #888888;
}
.profile_info_form_1 {
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
}

.profile_info_form_2 {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
}

/* DETAILS */

.details_chart1, .details_chart2, .details_chart3, .details_chart4, .details_chart5, .details_chart6, .details_chart7, .details_chart8 {
	width:50%px;
	text-align:center;
	vertical-align:middle;
	padding:7px 0 7px 0;
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
	box-sizing:border-box;
}

.details_chart1, .details_chart2 {
	color:#000000;
	font-size:14px;
	background-color:#ffffff;
}

.details_chart1 {
	border:2px solid #000000;
}

.details_chart2 {
	border-top:2px solid #000000;
	border-right:2px solid #000000;
	border-bottom:2px solid #000000;
	border-left:none;
}

.details_chart3, .details_chart4 {
	color:#ffffff;
	font-size:10px;
	background-color:#000000;
}

.details_chart7, .details_chart8 {
	font-size:10px;
}

.details_chart3 {
	border-top:2px solid #000000;
	border-left:2px solid #000000;
	border-right:2px solid #ffffff;
	border-bottom:2px solid #000000;
}

.details_chart4 {
	border:2px solid #000000;
	border-right:2px solid #000000;
	border-bottom:2px solid #000000;
	border-left:none;
}

.column_2_title1 {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#000000;
	width:100%;
	text-align:left;
	padding:20px 0 20px 0;
}
.column_2_title2 {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#000000;
	width:100%;
	text-align:left;
	padding:20px 0 20px 0;
}
.details_table {
	padding:0 0 0 0;
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#000000;
}

.vanity_button {
	width:100%;
	font-family:'gotham_mediumregular', Helvetica, Arial, sans-serif;
	font-size:16px;
	color:#ffffff;
	background-color:#000000;
	text-align:center;
	vertical-align:middle;
	padding:10px;
	box-sizing:border-box;
}

}
/* Responsive 320 */
@media only screen and (min-width: 20px) and (max-width: 359px) {
.earning_table_2 {
	width:130px;
	text-align:left;
	display:block;
}
.profile_info_email {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	display:block;
	padding:0 0 10px 0;
	width:100%;
}
}

/* Responsive 360 */
@media screen and (min-width: 360px) and (max-width: 413px) {
.earning_table_2 {
	width:170px;
	text-align:left;
	display:block;
}
.profile_info_email {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	display:block;
	padding:0 0 10px 0;
	width:100%;
}
}

/* Responsive 414 */
@media screen and (min-width: 414px) and (max-width: 480px) {
.earning_table_2 {
	width:210px;
	text-align:left;
	display:block;
}
.profile_info_email {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	display:block;
	padding:0 0 10px 0;
	width:100%;
}
}

/* Responsive phablet */
@media screen and (min-width: 480px) and (max-width: 767px) {
.earning_table_2 {
	width:210px;
	text-align:left;
	display:block;
}
.profile_info_email {
	font-family:'gotham_bookregular', Helvetica, Arial, sans-serif;
	color:#000000;
	font-size:14px;
	line-height:16px;
	text-align:left;
	vertical-align:top;
	display:block;
	padding:0 0 10px 0;
	width:100%;
}
}

