<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
		<add key="LWSAPIPerformanceCounters" value="false" />
		<add key="LWConfig" value="..\..\..\..\LWConfig"/>
		<add key="CacheManagerType" value="EntLibCache" />
		<!-- AppFabricCache|EntLibCache -->
		<add key="LWCacheCheckInterval" value="300"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>