<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LWAssemblyPath" value="E:\wwwroot\qa-apiaerewards-hf\bin" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LWConfig" value="E:\LWConfig" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LWEnvironment" value="QA" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LWIntgrConfig" value="E:\wwwroot\qa-apiaerewards-hf\Configuration\AmericanEagleStandardAPIConfig.xml" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>