<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>   
    <add key="AITEmail" value="AETechnology@brierley.com;aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BRAEmail" value="killionJ@AE.COM;AERewards_Support@brierley.com;AETechnology@brierley.com;KenskyK@AE.COM;rherbison@sandyinc.com;jwalters@sandyinc.com;PearsonL@AE.COM;DeriggiM@AE.com;emanuel@sandyinc.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="B5G1Email" value="ahenkemeier@brierley.com;kmaldonado@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_B5G1Email" value="rherbison@sandyinc.com;Emanuel@sandyinc.com;jwalters@sandyinc.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;DeriggiM@AE.com;AETechnology@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_B5G1Email" value="team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;DeriggiM@AE.com;AETechnology@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_B5G1Email" value="rich@waterfall.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com; DeriggiM@AE.com;AETechnology@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="5RewardEmail" value="ahenkemeier@brierley.com;kmaldonado@brierley.com;econtreras@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_5RewardEmail" value="rherbison@sandyinc.com;Emanuel@sandyinc.com;jwalters@sandyinc.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;DeriggiM@AE.com;AETechnology@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_5RewardEmail" value="team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;DeriggiM@AE.com;AETechnology@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_5RewardEmail" value="rich@waterfall.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com; DeriggiM@AE.com;AETechnology@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="BirthdayEmail" value="ahenkemeier@brierley.com;agarcia@brierley.com.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_BirthdayEmail" value="rherbison@sandyinc.com;Emanuel@sandyinc.com;jwalters@sandyinc.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;KeelanA@AE.com;DeriggiM@AE.com;sjohn@brierley.com;mmorales@brierley.com;pmarkovic@brierley.com;kward@brierley.com;rgepfert@brierley.com;salsobrook@brierley.com;AETechnology@brierley.com;srojo@brierley.com;nicox@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_BirthdayEmail" value="Corey.Passero@experian.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;KeelanA@AE.com;DeriggiM@AE.com;sjohn@brierley.com;mmorales@brierley.com;pmarkovic@brierley.com;kward@brierley.com;rgepfert@brierley.com;salsobrook@brierley.com;AETechnology@brierley.com;srojo@brierley.com;nicox@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_BirthdayEmail" value="rich@waterfall.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;DeriggiM@AE.com;AETechnology@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>		
	<add key="ReminderEmail" value="ahenkemeier@brierley.com;agarcia@brierley.com.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_ReminderEmail" value="rherbison@sandyinc.com;Emanuel@sandyinc.com;jwalters@sandyinc.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;KeelanA@AE.com;DeriggiM@AE.com;sjohn@brierley.com;mmorales@brierley.com;pmarkovic@brierley.com;kward@brierley.com;rgepfert@brierley.com;salsobrook@brierley.com;AETechnology@brierley.com;srojo@brierley.com;nicox@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_ReminderEmail" value="Corey.Passero@experian.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;KeelanA@AE.com;DeriggiM@AE.com;sjohn@brierley.com;mmorales@brierley.com;pmarkovic@brierley.com;kward@brierley.com;rgepfert@brierley.com;salsobrook@brierley.com;AETechnology@brierley.com;srojo@brierley.com;nicox@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_ReminderEmail" value="rich@waterfall.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;KeelanA@AE.com;DeriggiM@AE.com;sjohn@brierley.com;mmorales@brierley.com;pmarkovic@brierley.com;kward@brierley.com;rgepfert@brierley.com;salsobrook@brierley.com;AETechnology@brierley.com;srojo@brierley.com;nicox@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AECCEmail" value="ahenkemeier@brierley.com;kmaldonado@brierley.com;econtreras@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_AECCEmail" value="rherbison@sandyinc.com;Emanuel@sandyinc.com;jwalters@sandyinc.com;PearsonL@AE.com;GordonD@AE.com;DeriggiM@AE.com;AETechnology@brierley.com;aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_AECCEmail" value="team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com;DeriggiM@AE.com;AETechnology@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_AECCEmail" value="rich@waterfall.com;team-aeo@adm.cheetahmail.com;PearsonL@AE.com;GordonD@AE.com; DeriggiM@AE.com;AETechnology@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CARDREPLACEEmail" value="KillionJ@AE.com;aeo_ftp@jetlitho.com;DeriggiM@AE.com;aetechnology@brierley.com;aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TEMPCARDREPLACEEmail" value="KillionJ@AE.com;DeriggiM@AE.com;aeo_ftp@jetlitho.com;aetechnology@brierley.com;aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMSEmail" value="AETechnology@brierley.com;aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="VENDOREMAILEmail" value="AETechnology@brierley.com;team-aeo@adm.cheetahmail.com;KillionJ@AE.com;aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AEPEmail" value="AETechnology@brierley.com;GordonD@AE.com;Group_DWCRMTeam@AE.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>  
	<add key="RewardEmail" value="PearsonL@ae.com;killionj@ae.com;trinht@ae.com;DeRiggiM@ae.com;GordonD@ae.com;GuntangR@ae.com;AETechnology@brierley.com;Group_DTCRMSystems@ae.com;aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>  
</configuration>