@{
    ViewBag.Title = "ThankYou";
}

        <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="/web/favicon.ico"/>
<link rel="apple-touch-icon" href="/Images/web/icons/72x72_ipadAppIcon.png"/>
<title>Welcome to AE Rewards</title>
<link rel="canonical" href="index.html"/>
<!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <![endif]-->
<link rel="stylesheet" href="@Url.Content("~/CSS/aeo.css")" />
<link rel="stylesheet" href="@Url.Content("~/CSS/media.css")" />
</head>
<body>
@using (Html.BeginForm("EarningSummary", "Account"))
{

<div class="aeo_body">
	<div class="aeo_container">
    	<div class="aeo_nav_column_1">
        	<div class="aeo_nav_column_1_head"><img src="../images/aeo_rewards.png" width="162" height="auto" alt="AE Rewards"/></div>
            <div class="aeo_column_2_head">YOU'RE AEREWARDS EMAIL HAS BEEN VALIDATED!</div>
            Congratulations! [Insert email address here] is now enrolled in the American Eagle enhanced AEREWARDS program. It's now even easier to get rewarded for all of the AE and aerie shopping you're doing fpo.
            Sign in now to see all the cool things about this new program fpo:
                <a href="https://www.ae.com/web/flat/account_login.jsp?navdetail=top:utility:p3">
                    <img src="../images/signin.jpg" />
                </a>
   
      </div>
    </div>
</div>
}


</body>
</html> 