<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<!-- Valid log levels: OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->

	<!-- log file appender -->
	<appender name="logfile" type="log4net.Appender.RollingFileAppender">
		<file value="||path||LWMobileGatewaySvc.log"/>
		<appendToFile value="true"/>
		<rollingStyle value="Composite" />
		<datePattern value="yyyyMMdd" />
		<maximumFileSize value="10MB"/>
		<maxSizeRollBackups value="10"/>
		<layout type="log4net.Layout.PatternLayout">
		  <conversionPattern value="%date [%thread] %-5level [%logger] - %message%newline" />
		</layout>
	</appender>
  
	<!-- event log appender - filtered for ERROR only -->
	<appender name="eventlog" type="log4net.Appender.EventLogAppender" >
		<applicationName value="B+P LoyaltyWare LoyaltyNavigator" />
		<layout type="log4net.Layout.PatternLayout">
		  <conversionPattern value="[%thread] [%logger] - %message%newline" />
		</layout>
		<mapping>
		  <level value="ERROR" />
		  <eventLogEntryType value="Error" />
		</mapping>    
		<filter type="log4net.Filter.LevelRangeFilter">
		  <levelMin value="ERROR" />
		  <acceptOnMatch value="true" />
		</filter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
  
	<appender name="asyncForwarder" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
		<appender-ref ref="logfile" />
		<appender-ref ref="eventlog"/>
	</appender>
  
	<!-- datbase log appender-->
	<appender name="APILogs" type="Brierley.FrameWork.Common.Logging.LWDatabaseAppender,Brierley.FrameWork">
		<filter type="log4net.Filter.LoggerMatchFilter">
		  <loggerToMatch value="SyncJobLogger" />
		  <acceptOnMatch value="true" />
		</filter>
		<connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.2.0" />
		<bufferSize value="0" />
		<commandText value="INSERT INTO LW_LIBREQUESTRESPONSE (Id, source, sourceenv, threadid, externalid, operationname, operationparm, status, starttime, endtime, response) 
							VALUES (:messageid, :source, :sourceenv, :threadid, :externalid, :operationname, :operationparm, :status, :starttime, :endtime, :response)" /> 
		<parameter> 
		  <parameterName value=":messageid" /> 
		  <dbType value="Int64" /> 
		  <size value="18" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="MessageId" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":source" /> 
		  <dbType value="String" /> 
		  <size value="255" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="Source" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":sourceenv" /> 
		  <dbType value="String" /> 
		  <size value="50" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="SourceEnv" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":threadid" /> 
		  <dbType value="Int64" /> 
		  <size value="18" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="ThreadId" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":externalid" /> 
		  <dbType value="String" /> 
		  <size value="50" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="ExternalId" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":operationname" /> 
		  <dbType value="String" /> 
		  <size value="50" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="OperationName" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":operationparm" /> 
		  <dbType value="String" /> 
		  <size value="5000" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="OperationParm" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":status" /> 
		  <dbType value="Int64" /> 
		  <size value="18" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="Status" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":starttime" /> 
		  <dbType value="DateTime" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="StartTime" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":endtime" /> 
		  <dbType value="DateTime" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="EndTime" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":response" /> 
		  <dbType value="String" /> 
		  <size value="5000" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="Response" /> 
		  </layout> 
		</parameter>
	</appender>
	
	<appender name="APILogsForwarder" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
		<appender-ref ref="APILogs" />
	</appender>
	
	<appender name="payloadOracle" type="Brierley.FrameWork.Common.Logging.LWDatabaseAppender,Brierley.FrameWork">
		<filter type="log4net.Filter.LoggerMatchFilter">
			<loggerToMatch value="APIPayload" />
			<acceptOnMatch value="true" />
		</filter>
		<bufferSize	value="0" />
		<connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.2.0" />
		<commandText value="INSERT INTO LW_PayloadLog (ID, LogDate, Logger, MessageID, OperationParm, Response) VALUES (LOG4NET_SEQ.nextval, :log_date, :logger, :messageid, :operationparm, :response)" />
		<parameter>
		<parameterName value=":log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value=":logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value=":messageid" />
			<dbType value="String" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="MessageID" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value=":operationparm" />
			<dbType value="String" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="OperationParm" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value=":response" />
			<dbType value="String" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="Response" />
			</layout>
		</parameter>
		<filter type="log4net.Filter.DenyAllFilter" />
	</appender>
	
	<appender name="payloadOracleForwarder" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
		<appender-ref ref="payloadOracle" />
	</appender>
	
	<appender name="TriggerEvents" type="Brierley.FrameWork.Common.Logging.LWDatabaseAppender,Brierley.FrameWork">
		<filter type="log4net.Filter.LoggerMatchFilter">
		  <loggerToMatch value="TriggerUserEventLogger" />
		  <acceptOnMatch value="true" />
		</filter>
		<connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.2.0" />
		<bufferSize value="0" />
		<commandText value="INSERT INTO LW_TRIGGERUSEREVENTLOG (Id, memberid, eventname, channel, context, rulesexecuted, result, createdate, updatedate) 
							VALUES (hibernate_sequence.nextval, :memberid, :eventname, :channel, :context, :rulesexecuted, :result, sysdate, sysdate)" /> 
		<parameter> 
		  <parameterName value=":memberid" /> 
		  <dbType value="Int64" /> 
		  <size value="18" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="MemberId" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":eventname" /> 
		  <dbType value="String" /> 
		  <size value="50" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="EventName" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":channel" /> 
		  <dbType value="String" /> 
		  <size value="10" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="Channel" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":context" /> 
		  <dbType value="String" /> 
		  <size value="5000" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="Context" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":rulesexecuted" /> 
		  <dbType value="String" /> 
		  <size value="5000" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="RulesExecuted" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":result" /> 
		  <dbType value="String" /> 
		  <size value="5000" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="Result" /> 
		  </layout> 
		</parameter>
	</appender>
	
	<appender name="TriggerEventsForwarder" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
		<appender-ref ref="TriggerEvents" />
	</appender>
	
	<appender name="RulesLog" type="Brierley.FrameWork.Common.Logging.LWDatabaseAppender,Brierley.FrameWork">
		<filter type="log4net.Filter.LoggerMatchFilter">
		  <loggerToMatch value="RuleExecutionLogger" />
		  <acceptOnMatch value="true" />
		</filter>
		<connectionType value="Oracle.ManagedDataAccess.Client.OracleConnection,Oracle.ManagedDataAccess, Version=4.121.2.0" />
		<bufferSize value="0" />
		<commandText value="INSERT INTO LW_RULEEXECUTIONLOG (Id, rulename, memberid, executionstatus, executionmode, ownertype, ownerid, rowkey, skipreason, detail, createdate, updatedate) 
							VALUES (hibernate_sequence.nextval, :rulename, :memberid, :executionstatus, :executionmode, :ownertype, :ownerid, :rowkey, :skipreason, :detail, sysdate, sysdate)" /> 
		<parameter> 
		  <parameterName value=":rulename" /> 
		  <dbType value="String" /> 
		  <size value="50" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="RuleName" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":memberId" /> 
		  <dbType value="Int64" /> 
		  <size value="18" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="MemberId" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":executionstatus" /> 
		  <dbType value="String" /> 
		  <size value="255" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="ExecutionStatus" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":executionmode" /> 
		  <dbType value="String" /> 
		  <size value="255" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="ExecutionMode" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":ownertype" /> 
		  <dbType value="Int64" /> 
		  <size value="18" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="OwnerType" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":ownerid" /> 
		  <dbType value="Int64" /> 
		  <size value="18" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="OwnerId" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":rowkey" /> 
		  <dbType value="Int64" /> 
		  <size value="18" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="RowKey" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":skipreason" /> 
		  <dbType value="String" /> 
		  <size value="50" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="SkipReason" /> 
		  </layout> 
		</parameter>
		<parameter> 
		  <parameterName value=":detail" /> 
		  <dbType value="String" /> 
		  <size value="150" /> 
		  <layout type="log4net.Layout.RawPropertyLayout"> 
			<key value="Detail" /> 
		  </layout> 
		</parameter>
	</appender>

	<appender name="RulesLogForwarder" type="Log4Net.Async.AsyncForwardingAppender,Log4Net.Async">
		<appender-ref ref="RulesLog" />
	</appender>
	
	<!-- This is the default log level for all loggers (should be INFO) -->
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="asyncForwarder"/>
	</root>

	<logger name="SyncJobLogger">
		<level value="INFO"/>
		<appender-ref ref="APILogsForwarder"/>
	</logger>

	<logger name="TriggerUserEventLogger">
		<level value="INFO"/>
		<appender-ref ref="TriggerEventsForwarder"/>
	</logger>

	<logger name="RuleExecutionLogger">
		<level value="INFO"/>
		<appender-ref ref="RulesLogForwarder"/>
	</logger>

	<logger name="APIPayload">
		<level value="INFO"/>
		<appender-ref ref="payloadOracleForwarder"/>
	</logger>
	

  <!-- The log levels for individual loggers can be set below, which will override the default level -->
  <!-- LoyaltyWare -->

  <!--<logger name="LoyaltyWareFramework">
    <level value="DEBUG"/>    
  </logger>
  
  <logger name="LWIntegrationService">
    <level value="DEBUG"/>    
  </logger>-->
  
</log4net>
