<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"> 
	<appSettings>
		<add key="LWEnvironment" value="StageCline" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="LWAssemblyPath" value="E:\wwwroot\stage-csaerewards-cline\bin" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="LWConfig" value="E:\LWConfig" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>
