<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>   
    <add key="AITEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BRAEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="B5G1Email" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_B5G1Email" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_B5G1Email" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_B5G1Email" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="5RewardEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_5RewardEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_5RewardEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_5RewardEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="BirthdayEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_BirthdayEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_BirthdayEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_BirthdayEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>		
	<add key="ReminderEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_ReminderEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_ReminderEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_ReminderEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AECCEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="DM_AECCEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="EM_AECCEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="SM_AECCEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CARDREPLACEEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TEMPCARDREPLACEEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SMSEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="VENDOREMAILEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AEPEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>  
	<add key="RewardEmail" value="aerewards_support@brierley.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>  
</configuration>