<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- 
		For faster startup (with your assembly already loaded), supply the full path to the test assembly file. If unknown, this can be left
		empty and you may use the browse button to locate the assembly. You can change the assembly at any time by clicking the browse button
		when the application is running.
		-->
    <add key="ClientAssembly" value="D:\devroot\americaneagle\branches\NationalRollout\Integration\Services\Client Library\DotNet\bin\Debug\Brierley.LoyaltyWare.ClientLib.dll"/>
    
    <!-- 
		The URL of the integration service. This value may be left blank here and instead supplied when running the application.
		You can change the service URL at any time when the application is running.
		-->
		<!--<add key="ServiceUrl" value="http://pcty7013.brierley.com:9010/LWIntgrService.svc"/>-->
    
		<!--<add key="ServiceUrl" value="http://qa-apiaerewards-cline.brierley.com/LWIntgrService.svc"/>-->
		<add key="ServiceUrl" value="http://localhost/AEOAPIROLLOUT/LWIntgrService.svc"/>
    
  
		<!-- 
		The client source. This value may be left blank and instead supplied when running the application.
		-->
		<add key="ClientSource" value="Client Source"/>
		
		<!-- 
		Date format string. If not supplied here, will default to MM/dd/yyyy.
		-->
		<add key="DateFormat" value=""/>
		
		<!-- 
		The output file for the client to log to. http://localhost/DEV-WSAE/
		-->
		<add key="OutputFile" value="D:\devroot\americaneagle\branches\NationalRollout\LogFiles\acorcoran41SAPITest.log"/>

		<add key="ReflectNonPublicResults" value="False"/>
		<add key="MaxReflectionDepth" value="5"/>
		
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
