<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>  
    <add key="LWAssemblyPath" value="E:\wwwroot\stage-apiaerewards-hf\bin" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LWEnvironment" value="Stage" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="LWConfig" value="E:\LWConfig" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="LWIntgrConfig" value="E:\wwwroot\stage-apiaerewards-hf\Configuration\AmericanEagleStandardAPIConfig.xml" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>